section {
    padding: 30px 10%;
    overflow: auto;
    text-align: justify;
}

.my-photo {
    padding-top: 30px;
    width: 200px;
    border-radius: 50%; /*100px*/
    float: left;
    margin: 0 30px 30px 0;
}

.introduction{
    padding: 40px;
    font-size: 20px;
}